---
# yamllint disable rule:line-length
###############################################################################
# Whisparr Install
###############################################################################
# Whisparr does not have any 'release' versions, only current head. Instead,
# just install whisparr if the install location does not exist. After release,
# revert back to standard *arr services, like sonarr or radarr.
#
# Use static URL to download binary release to install the build without
# requiring a manual download and build. Use the pre-compiled binary URL from
# the installation script.
#
# TODO(role): Remove this and revert to standard *arr (sonarr, radarr) process
#     when release happens.
#
# Reference:
# * https://github.com/Servarr/Wiki/blob/master/servarr/servarr-install-script.sh
# yamllint enable rule:line-length

- name: 'Install | packages'
  ansible.builtin.include_role:
    name: 'r_pufky.deb.apt'
  vars:
    apt_packages:
      - '{{ whisparr_role_packages }}'
    apt_package_update_cache: true

- name: 'Install | check install (until a release version happens)'
  ansible.builtin.stat:
    path: '{{ whisparr_role_repo_extract_symlink }}'
  register: _whisparr_installed

- name: 'Install | Whisparr package {{ _whisparr_srv_version.raw }}'
  when: >
    not _whisparr_installed.stat.exists and
    not _whisparr_srv_force_config_only_enable.raw
  ansible.builtin.include_role:
    name: 'r_pufky.deb.repo'
  vars:
    # TODO(role): Revert to *arr standard when released.
    repo_release_owner: '{{ whisparr_role_repo_release_owner }}'
    repo_release_repo: '{{ whisparr_role_repo_release_repo }}'
    repo_release_tag: '{{ _whisparr_srv_version.raw }}'
    repo_release_asset: '{{ whisparr_role_repo_release_asset }}'
    repo_release_asset_static_url:
      '{{ whisparr_role_repo_release_asset_static_url }}'
    repo_file_owner: '{{ _whisparr_srv_user._uid }}'
    repo_file_group: '{{ _whisparr_srv_group._gid }}'
    repo_extract_dir: '{{ whisparr_role_repo_extract_dir }}'
    repo_extract_symlink: '{{ whisparr_role_repo_extract_symlink }}'
    repo_extract_migrate_files:
      '{{ _whisparr_srv_migrate_metadata._files }}'
    repo_extract_delete_old_versions:
      '{{ _whisparr_srv_delete_old_versions_enable.raw }}'
    repo_force_overwrite: '{{ _whisparr_srv_force_overwrite.raw }}'
    repo_extract_mode: 'a-st,o-rwx'
    repo_extract_extra_opts: ['--strip-components=1']
