<Config>
  <BindAddress>*</BindAddress>
  <Port>6969</Port>
  <UrlBase></UrlBase>
  <InstanceName>Whisparr</InstanceName>
  <EnableSsl>False</EnableSsl>
  <SslPort>8008</SslPort>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <ApiKey>abcdef1234567890abcdef1234567890</ApiKey>
  <LogLevel>info</LogLevel>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <Branch>nightly</Branch>
  <UpdateAutomatically>False</UpdateAutomatically>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <UpdateScriptPath></UpdateScriptPath>
  <LaunchBrowser>False</LaunchBrowser>
  <PostgresHost>localhost</PostgresHost>
  <PostgresPort>5432</PostgresPort>
  <PostgresUser>whisparr</PostgresUser>
  <PostgresPassword>test</PostgresPassword>
  <PostgresMainDb>whisparr-main</PostgresMainDb>
  <PostgresLogDb>whisparr-log</PostgresLogDb>
  <Theme>auto</Theme>
  <WhisparrMetadata>https://api.whisparr.com/v3/{route}</WhisparrMetadata>
</Config>
