<Config>
{% for header in _whisparr_order %}
{%   for section in _whisparr_map | selectattr('value.section', '==', header) | sort(attribute='value.order') %}
{%     if not section.value.deprecated %}
{%       if section.value.key in ['AuthenticationRequired', 'UpdateMechanism', 'SslCertPath', 'UpdateScriptPath'] %}
  <{{ section.value.key }}>{{ section.value.data }}</{{ section.value.key }}>
{%       elif section.value.hint == 'bool' %}
  <{{ section.value.key }}>{{ section.value.raw | string | capitalize }}</{{ section.value.key }}>
{%       else %}
  <{{ section.value.key }}>{{ section.value.raw }}</{{ section.value.key }}>
{%       endif %}
{%     endif %}
{%   endfor %}
{% endfor %}
</Config>
